                    <p>
                        <label for="preg" class="rem">Pregunta</label>
                        <input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/>
                    </p>
                    <p>
                        <label for="resp" class="rem">Respuesta</label>
                        <input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/>
                    </p>
                    <p>
                        <select name="quiz[tema]">
                        <% for (var i in temas) { %>
                            <option value="<%= temas[i] %>"<%= (quiz.tema === temas[i]) ? " selected" : "" %>><%= temas[i] %></option>
                        <% } %>
                        </select>
                    </p>
                    <a href="/quizes"><button type="button">Cancelar</button></a>
                    <input type="submit" value="Salvar"/>
